dynext/*
parrotstore/*
src/mongodb/pmc/*.c
src/mongodb/pmc/*.o
src/mongodb/pmc/*.dump
src/mongodb/pmc/*.h
src/mysql/pmc/*.c
src/mysql/pmc/*.o
src/mysql/pmc/*.dump
src/mysql/pmc/*.h
src/sqlite3/pmc/*.c
src/sqlite3/pmc/*.o
src/sqlite3/pmc/*.h
src/sqlite3/pmc/*.dump
